body {
  background-color: hsl(0, 0%, 10%);
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px; /* Adjusted margin */
  width: 60%; /* Adjusted width */
  margin: auto;
}

h1 {
  font-size: 3rem; /* Adjusted font size */
  color: white;
}

button {
  font-size: 1.5rem; /* Button font size */
  font-weight: bold;
  padding: 10px 15px; /* Button padding */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 54%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 44%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
  font-size: 1.5rem; /* Input font size */
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
  width: 70%; /* Input field width */
}

ol {
  padding: 0;
}

li {
  font-size: 1.5rem; /* List item font size */
  font-weight: bold;
  padding: 10px; /* List item padding */
  background-color: rgb(242, 245, 247);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Center align items */
}

/* Responsive Styles */
@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem; /* Reduce font size */
  }
.to-do-list {
  
  width: 90%; /* Adjusted width */

}
  button {
    font-size: 1.3rem; /* Reduce button font size */
    padding: 8px 12px; /* Reduce button padding */
  }

  input[type="text"] {
    width: 85%; /* Wider input field */
    font-size: 1.3rem; /* Reduce input font size */
  }

  li {
    font-size: 1.3rem; /* Reduce list item font size */
    padding: 8px; /* Reduce padding */
  }
}
